*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.d-flex{
    display: flex;
}

.bar{
    width: 100%;
    height: 60px;
    background-color: rgb(255, 153, 0);
    justify-content: space-between;
    align-content: space-between;
}
.type{
    margin-left: 100px;
    margin-top: 20px;
}
a{
    padding: 10px;
    color: white;
}
.logo{
    height: 30px;
    margin-top: 10px;
}
