*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



a{
    color: white;
}



.bar{
    width: 100%;
    height: 60px;
    background-color: rgb(255, 153, 0);
    position: relative;
}
.type{
    margin-left: 390px;
    margin-top: 20px;
    position: absolute;
}
.logo{
    height: 30px;
    margin-top: 10px;
    margin-left: 1050px;
    position: absolute;
}
.account{
    margin-top: 20px;
    margin-right: 1050px;
    position: relative;
}
.user{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 1550px;
    top: 20px;
}
.favourites{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 1580px;
    top: 20px;
}
.shopping-bag{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 1610px;
    top: 20px;
}


.showcase-top{
    display: flex;
    padding-left: 20%;
}
.showcase-under{
    display: flex;
    padding-left: 20%;
}
.model{
    height: 600px;
    width: 400px;
    display: block;
}
.change{
    display: none;
    height: 600px;
    width: 400px;
}
.container{
    padding: 10px;
    padding-top: 50px;
    position: relative;
}
.price{
    color: red;
}
.strike{
    text-decoration: line-through;
}
.sales{
    background-color: red;
    width: 60px;
    color: white;
    padding: 1px;
    text-align: center;
    position: absolute;
    top: 550px;

}
.green{
    background-color: green;
    width: 100px;
    color: white;
    padding: 1px;
    text-align: center;
    position: absolute;
    top: 550px;
    left: 76px;
}
.green-under{
    background-color: green;
    width: 100px;
    color: white;
    padding: 1px;
    text-align: center;
    position: absolute;
    top: 550px;
}
.heart{
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 2px;
    position: absolute;
    top: 59px;
    left: 91%;
}
.heart:hover {
    color: red;
}






.change-img:hover .model{
    display: none;
}
.change-img:hover .change{
    display: block;
}


.footer{
    background-color: rgb(39, 36, 36);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    color: white;

}

.information{
    padding: 50px;
}

.legal{
    padding-top: 10px;
}




.prezzi{
    display: flex;
    gap: 10px;
}